/car-booking-service/.vs
/car-booking-service/bin
/car-booking-service/obj
/car-booking-service.Application/bin
/car-booking-service.Application/obj
/car-booking-service.Domain/bin
/car-booking-service.Domain/obj
/car-booking-service.Infrastructure/bin
/car-booking-service.Infrastructure/obj
/car-booking-service.Test/bin
/car-booking-service.Test/obj
/car-booking-service.Infrastructure/bin/
/car-booking-service.Infrastructure/obj/
/car-booking-service/Logs
/user-service/.vs
/user-service/bin
/user-service/obj
/user-service.Application/bin
/user-service.Application/obj
/user-service.Domain/bin
/user-service.Domain/obj
/user-service.Infrastructure/bin
/user-service.Infrastructure/obj
/user-service.Test/bin
/user-service.Test/obj
/user-service.Infrastructure/bin/
/user-service.Infrastructure/obj/
/user-service/Logs